footer {
    height: 50vh;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: rgb(241, 212, 44);

    .footer-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}