.project {
    width : 100%;
    margin: 35px 0 90px;

    h2 {
        margin: 25px 0 5px;
    }

    .project-description {
        .project-title {
            text-shadow: 1px 1px rgb(233, 207, 94);

        }
    }

    .project-stack {
        margin: 10px 0 0;
    }
}