.project-image__container {
    overflow: hidden;
    position: relative;

    // Ribbon
    .github-ribbon {
        position: absolute;
        top     : 20px;
        right   : -60px;
        width: 240px;
        height: 75px;
        z-index: 100;
        color: $ribbonColorHover;
        transform: rotate(45deg);
        background-color: $ribbonBg;
        
        &:hover {
            color: $primaryColor;
            cursor: pointer;
        }
        
        // GitHub Icon
        a {
            @include flexItem(center, center, row);
            width: 100%;
            height: 100%;
        }
    }
}