.small-footer {
    border-top: 2px solid #000;

    .copyright p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.9px;
        line-height: 1.2;
    }
    
    .copyright {
        margin-top: 10px;
    }
}